@charset "UTF-8";

body {
    font-family: Arial;
    font-size: 10pt;
}
p {
    text-align: justify;
    text-indent:20px;
}
article h1 {
    
    font-size: 15pt;
    color: white;
    background-color: orange;
    margin: 0px;
}

article h2{
    font-size: 15pt;
    color: black;
    margin-top: 30px;  
}

article {
    margin-bottom: 800px;
}
img.img-dir {
    margin-top: 30px;
    display: block;
    float: right;
    margin-left: 10px;
}

